body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    color: #323232;

}

body, html {
    margin: 0;
    padding: 0;
}

.right-column {
    background-color: #f4f4f4;
    padding: 20px;
}

.right-content {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 8%;
}

.FEU-logo{
    width: 350px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}


input[type="text"],
input[type="password"],
select {
    width: 75%; 
    margin-bottom: 10px;
    border: 1px solid #c5c5c5;
    background-color: #e4e4e4;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 auto; 
    display: block;
    padding: 5px;
}
    

.input-forms {
    margin-bottom: 10px;
    text-align: left;
    
}

.input-studentnumber, .input-password{
    text-align: left;
    margin-left: 75px;
}


.forgot a {
    margin-top: 0px;
    font-size: 12px;
    color: #237537;
    font-style: underline;
    margin-left: 75px;
}


button {
    width: 75%;
    padding: 10px;
    background-color:  #237537;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto; 
    display: block;
    margin-top: 30px;
    margin-bottom: 140px;
    
}

button:hover {
    background-color: #004b1c;
}

/* FOOOTER */
footer {
    background-color: #f4f4f4;
    padding-top: 10px;
   
    margin-left: 0;
    width: 100%;
 
    border-top: 1.5px dotted #b6b6b6;
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
 
}

.left a{
    color: #b6b6b6;
    font-size: 10px;
}


.social-media-links a {
    color:  #f4f4f4;
  
}

.X, .Facebook{
    width: 20px;
    margin-right: 15px;
}

.social-media-links a img:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(9%) saturate(271%) hue-rotate(333deg) brightness(91%) contrast(104%);
}

.left a:hover, .right a:hover{
    color: #988989;
}

/* PORTRAIT iPad Pro 12.9" (2021) */
@media (max-height: 1367px) and (orientation: portrait){
    
    .landscape{
        display: none;
    }

    .portrait{
        display: block;
        background-color: #f4f4f4;
        padding: 0px;
        margin-top: 0%;
    }

    .right-content {
        margin-top: 0%;
        margin-bottom: 8%;
    }

    
.header{
    background-color: #004b1c;
    padding-top: 10px;
    padding-right: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    z-index: var(50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bx{
    color: white;
    font-size: 30px;
    cursor: pointer;

}

.bx:hover{
    color: #ffc107;
    font-size: 30px;
    text-decoration: none;

}

ul{
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 30px;
    /* background-color: #000000; */
    background: url('https://lh3.googleusercontent.com/d/16IBjA6U130QVwK9S91dk0veY-655Q0Bg') repeat-y center center fixed;
    background-size: 180%;
    background-position: left 150px top 0px;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

    .show {
    display: block;
}


    
    .left-content{
    margin-left: 1.1rem;
    margin-top: 20px;
    }   
    
    .main-title{
    font-size: 1.45rem;
    margin-top: 10px;
    }
    
    .sub-title{
    font-size: 0.9rem;
    margin-bottom: 1.8rem;
    }
    
    .left-bullet-content {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    }
    
    .left-bullet-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    
    }
    
    .left-bullet-row img {
    
    width: 1.6rem;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
    }
    
    .left-bullet-row span {
    flex: 1;
    font-size: 0.8rem;
    }

    .FEU-logo{
        margin-top: 120px;
    }

    footer{
        padding: 10px;
     
        }
        
        .left a{
        font-size: 10px;
        }
        
        .X, .Facebook{
        width: 20px;
        margin-right: 10px;
        }
}
